@model Lab5Lab6.Models.LabViewModel;
@{
    ViewData["Title"] = "Lab2 Page";
}

<div class="container mt-5">
    <h2>Run Lab №2</h2>
    <pre>Горе-бізнесмен закупив у Китаї велику партію наручних годинників, щоб продати їх на батьківщині за півціни (тобто в 5 разів дорожче, ніж вони коштували в Китаї). Бізнесмен зіткнувся з проблемою: китайські годинники виявилися неякісними. Мало того, що годинник працював протягом лише кількох годин, поки його не стукнеш, так ще й час підводити незручно: обертати можна не хвилинну, а тільки секундну стрілку, причому, що найжахливіше, тільки в один бік у напрямку збільшення часу. Наприклад, для того, щоб підвести годинник на секунду назад, необхідно було зробити понад 700 повних обертів секундної стрілки, на що бізнесмен би витратив понад 10 хвилин.
Щоб продати цей годинник оптом бізнесмену необхідно на момент угоди створити видимість того, що годинник справний. Для цього він збирається зупинити всі годинники, встановити їх на один і той самий час. А перед угодою вдарити по валізі з годинниками, щоб вони всі дружно пішли. Допоможіть горе-бізнесмену з'ясувати: який час на годиннику краще встановити для того, щоб бізнесмен витратив якнайменше часу для того, щоб підвести всі годинники.
Вхідні дані
У першому рядку вхідного файлу INPUT.TXT міститься натуральне число
N - кількість годин (N ≤ 50000).
У наступних N рядках розташовуються показання всіх годинників у форматі h:mm:ss,
де h - показує котра година,
mm - хвилини,
ss - години (1 ≤ h ≤ 12, 0 ≤ mm ≤ 59, 0 ≤ ss ≤ 59).

Вихідні дані
Вихідний файл OUTPUT.TXT має містити час, який потрібно встановити на всіх годинниках, у форматі, зазначеному вище. У разі неоднозначної відповіді виведіть найменший час.
    </pre>
    <form asp-action="Lab2" method="post">
        <div class="form-group mb-3">
            <label asp-for="InputData" class="control-label">Введіть вхідні дані для лаб</label>
            <textarea asp-for="InputData" class="form-control" rows="10" cols="50"></textarea>
            <span asp-validation-for="InputData" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Ок</button>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </form>
</div>