@model List<Dictionary<string, object>>

<h1>Products</h1>
<table>
    <thead>
        <tr>
            @foreach (var key in Model.FirstOrDefault()?.Keys ?? Enumerable.Empty<string>())
            {
                <th>@key</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @foreach (var value in item.Values)
                {
                    <td>@value</td>
                }
            </tr>
        }
    </tbody>
</table>
