@{
    ViewData["Title"] = "Home Page";
}
<section>
    <div class="text-center">
        <h1 class="display-4">Лабораторна №5</h1>
    
    </div>
    <div>
        <p>Веб застосунок (ASP.NET Core MVC) складається з двох проектів:</p>
        <p> a.	Безпосередньо веб додаток </p>
        <p> b.	Бібліотека класів, що дає змогу запускати практичні 1, 2 або 3</p>
    </div>
</section>